body {
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT0hDnyeyHJ8yKok2i-6Mfom7At7IG8KIiYQ&usqp=CAU"); */
    background-image: url("./pic/dark_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding: 0;
    margin: 0;
}

ul,
p {
    font-size: 1.2em;
}

a {
    /* 文字底線 */
    text-decoration: none;
}

#intro,
#my_webserver,
#footer {
    /* 邊框弧度 */
    border-radius: 10px;
    /* 內距：上 右 下 左 */
    padding: 0.3em 0.5em 0.3em 0.5em;
}

#header,
#menu {
    background-color: #d9dcd8;
    /* 內距：上 右 下 左 */
    padding: 0.3em 0.5em 0.3em 0.5em;
}

#menu {
    display: flex;
    justify-content: space-around;
    /* 外距 */
    margin-bottom: 2em;
    /* 邊框弧度 */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#intro {
    background-color: #f4d993;
    /* Block 置中 */
    margin: 0 auto;
    /* 設定寬度 */
    width: 85%;
}

#my_webserver {
    background-color: #b96702;
    /* Block 置中 */
    margin: 0 auto;
    /* 外距 */
    margin-top: 2em;
    margin-bottom: 2em;
    /* 設定寬度 */
    width: 85%;
}

#container {
    display: flex;
    justify-content: space-around;
    /* 外距 */
    margin-bottom: 1em;
    margin-top: 2em;
}

#content_1,
#content_2,
#content_3,
#content_4 {
    /* 內距：上 右 下 左 */
    padding: 0.3em 1em 0.3em 0em;
    /* 邊框弧度 */
    border-radius: 10px;
}

#content_1 {
    background-color: #84a45a;
}

#content_2 {
    background-color: #afbadc;
}

#content_3 {
    background-color: #edd170;
}

#content_4 {
    background-color: #e75f44;
    padding-left: 1em;
}

#footer {
    text-align: center;
    background-color: #8c7462;
    /* Block 置中 */
    margin: 0 auto;
    /* 外距 */
    margin-bottom: 2em;
    /* 設定寬度 */
    width: 85%;
}

.content_title,
.header_title,
.footer_title,
.my_webserver_title,
.intro_title {
    text-align: center;
}

.intro_title,
.my_webserver_title {
    font-weight: "900";
    font-size: 2.3em;
}

.header_title {
    font-weight: "900";
    font-size: 4em;
}

.content_title {
    font-size: 1.35em;
}

.list_style {
    list-style-type: square;
}
